# =================================================================
# General
# =================================================================
.DS_Store
*.log
.idea/

# =================================================================
# Secrets - VERY IMPORTANT
# =================================================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =================================================================
# Python / Backend
# =================================================================
__pycache__/
*.pyc
.venv/
venv/

# =================================================================
# Node.js / Next.js Frontend
# =================================================================
# Dependencies
node_modules/

# Build output
.next/
out/

# Other
.swc/
*.tsbuildinfo
next-env.d.ts